@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    

}

.cards {
    padding: 20px;
    background-color: black;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    margin: 1rem;
    position: relative;

}

.title{
    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 36px;
    padding: 1rem;

}

.cards img{
    object-fit: cover ;
    height: 350px;
    width: 500px;
    filter: grayscale(0%);


}
.cards img:hover{
    filter:grayscale(100%);
}

